/*Color Palette
 * #CDCDCD - Grxy Sleet
 * #69BF3F - Green Moss
 */

/* Global Styles
 * ----------------------*/
html { 
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}
/* Header and Footer
 * ----------------------*/
header, footer {
	background: black;
	padding: 10px;
	color: gray;
}

/*header*/


/*footer*/


/*Navigation
 * ----------------------*/
nav {
	background: #CDCDCD;
}


/* Intro
 * ----------------------*/
#intro {
	background: #69BF3F;
}

.splash {
	text-align:center;
}

/* Home
 * -----------------------*/
.content-wrapper {
	max-width: 1200px;
	background: #FAEBD7;
	padding: 1em;
	margin: 0 auto;
	border-style: dotted; /* for visibility during design*/
}




/* About
 * -----------------------*/
#about {
	background: #CDCDCD;
}

.img-hold {
	background: #7CFC00;
	width: 200px;
	height: 200px;	
	border-radius: 50%;
	float: left;	
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 10px;
}

.img-hold p {
	padding-left: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.text-wrapper  {
	overflow: hidden;
	text-align: center;
}

	

/* Pre-Proj
 * -----------------------*/
#pre-proj {
	background: #69BF3F;
}

.proj-prev {
	clear:left;
	word-wrap: break-word;
	text-align: center;
}


.proj-prev li {
	display: inline-block;
	width: 235px;
	padding-right: 50px;
}


/* Skills&Tech
 * -----------------------*/
#skills-tech {
	background: #CDCDCD;
}

.skills {
	text-align: center;
}

.skill-img {
	height: 150px;
	width: 400px;
	margin: 15px;
}

.html {
	background: orange;
	display: inline-block;
	margin-right: 60px;
}

.css {
	background: blue;
	display: inline-block;
	margin-left: 60px;
}

.js {
	background: red; /* highlighting*/
	clear: right;
	margin-left: auto;
	margin-right: auto;
}


/* Projects
 * -----------------------*/
#projects {
	background: #69BF3F;
}

.proj-img { 
	background: purple;
	display: inline-block;
	width: 600px;
	height: 250px;
	vertical-align: top;
}

.proj-desc { 
	background: orange;
	display: inline-block;
	text-align: center;
	width: 562px;
	height: 250px;
	overflow:hidden;
}

.proj-display {
	background: red;
	text-align: center;
	clear:both;
}

.projects ul {
	padding: 0;
	margin: 0;
}
